/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Header */
header {
  background-color: #000000;
  padding: 20px 0;
}

header h1 {
  color: #d4af37;
  font-size: 36px;
  text-transform: uppercase;
}

nav ul {
  background-color: #000000;
  width: 100%;
  list-style: none;
  display: inline-block;
  justify-content: flex-end;
  padding-right: 5%;
  text-align: right;
}

nav ul li {
  margin-left: 2%;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #d4af37;
}

/* Hero Section */
.hero-section {
  background-color: #000000;
  text-align: center;
  padding: 100px 0;
}

.hero-section h2 {
  font-size: 48px;
  color: #d4af37;
}

.hero-section p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #d4af37;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ffffff;
  color: #121212;
}

/* About Section */
#about {
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
}

#about h2 {
  color: #d4af37;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Services Section */
#services {
  background-color: #1a1a1a;
  padding: 50px 0;
}

#services h2 {
  color: #d4af37;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.service {
  background-color: #000000;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  border: 2px solid #d4af37;
}

.service h3 {
  color: #d4af37;
  font-size: 24px;
}

.service p {
  color: #ffffff;
}

/* Projects Section */
#projects {
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
}

#projects h2 {
  color: #d4af37;
  font-size: 36px;
  margin-bottom: 30px;
}

.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 30%;
  margin-bottom: 20px;
  background-color: #000000;
  padding: 10px;
  border: 2px solid #d4af37;
  border-radius: 8px;
}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-item h4 {
  color: #d4af37;
  text-align: center;
  font-size: 20px;
}

/* Footer */
footer {
  background-color: #000000;
  color: #d4af37;
  padding: 30px 0;
  text-align: center;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  color: #ffffff;
}

.logo-container {
  text-align: center;
  color: #d4af37; /* Gold color */
}

.logo-icon {
  font-size: 64px;
  font-weight: bold;
}

.main-title {
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 5px;
  /*color: #d4af37;*/
  background: -webkit-linear-gradient(90deg, #b8860b, #ffd700, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  font-size: 12px;
  letter-spacing: 2px;
  /*color: #d4af37;*/
  margin-top: -10px;
  background: -webkit-linear-gradient(90deg, #b8860b, #ffd700, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtext {
  font-size: 14px;
  letter-spacing: 2px;
  /*color: #d4af37;*/
  margin-top: 10px;
  background: -webkit-linear-gradient(90deg, #b8860b, #ffd700, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-container {
  display: flex; /* Use flexbox */
  justify-content: left; /* Center horizontally */
  align-items: top; /* Center vertically (if height is set) */
  margin-left: 5%;
}

/* Image styles */
.responsive-image {
  max-width: 70px; /* Adjust this to resize the image */
  height: auto; /* Maintain aspect ratio */
}
