/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Header */
header {
  background-color: #000000;
  padding: 20px 0;
}

header h1 {
  color: #d4af37;
  font-size: 36px;
  text-transform: uppercase;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #d4af37;
}

/* Hero Section */
.hero-section {
  background-color: #000000;
  text-align: center;
  padding: 100px 0;
}

.hero-section h2 {
  font-size: 48px;
  color: #d4af37;
}

.hero-section p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #d4af37;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ffffff;
  color: #121212;
}

/* About Section */
#about {
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
}

#about h2 {
  color: #d4af37;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Services Section */
#services {
  background-color: #1a1a1a;
  padding: 50px 0;
}

#services h2 {
  color: #d4af37;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.service {
  background-color: #000000;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  border: 2px solid #d4af37;
}

.service h3 {
  color: #d4af37;
  font-size: 24px;
}

.service p {
  color: #ffffff;
}

/* Projects Section */
#projects {
  background-color: #1a1a1a;
  padding: 50px 0;
  text-align: center;
}

#projects h2 {
  color: #d4af37;
  font-size: 36px;
  margin-bottom: 30px;
}

.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 30%;
  margin-bottom: 20px;
  background-color: #000000;
  padding: 10px;
  border: 2px solid #d4af37;
  border-radius: 8px;
}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-item h4 {
  color: #d4af37;
  text-align: center;
  font-size: 20px;
}

/* Footer */
footer {
  background-color: #000000;
  color: #d4af37;
  padding: 30px 0;
  text-align: center;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  color: #ffffff;
}

::after,
::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #d4af37;
  --background: #1a1a1a;
  --hamburger-margin: 40px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  border-radius: 9999px;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100vw;
  padding: 0.5rem 1rem;
  padding-top: calc(
    var(--hamburger-height) + var(--hamburger-margin) +
      var(--hamburger-margin + 0.5rem)
  );
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  height: 20vh;
  border-radius: 20%;
  text-align: center;
}

.hamburger-menu.hamburger-menu:has(input:checked) + .sidebar {
  translate: 74vw;
}

.hamburger-menu:has(input:checked) {
  --foreground: #d4af37;
  --background: #1a1a1a;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}
